<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="BIDVAuto.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="server" value="10.130.2.20"/>
		<add key="port" value="5432"/>
		<add key="database_name" value="bidv_hcm_001"/>
		<add key="path_download" value="D:\AutoGetODS"/>
		<add key="so_ngay_back_date" value="40"/>
		<add key="only_run_dv_import_config_header" value="47"/>
		<add key="only_run_dv_import_config_auto_header" value="16" />
		<add key="version" value="v0.36.0"/>
		<add key="online_version" value="0"/>
		<add key="quit_browse" value="1"/>
		<add key="is_browse_chrome" value="1"/>
		<add key="version_chome" value="103.0.5060.134"/>
		<add key="version_firerfox" value="v0.36.0"/>
		<add key="che_do_chay_nhe_nhat" value="0"/>
		<add key="connection_type" value="json"/>
		<add key="json_header_script_path" value="script_header.json"/>
		<add key="json_detail_script_path" value="script_detail_print.json"/>
		<add key="json_middle_script_path" value="script_trung_gian1.json"/>
		<add key="json_required_step_script_path" value="script_required_step1.json"/>
		<add key="json_exception_script_path" value="script_exception1.json"/>
		<add key="json_data_source_path" value="script_data.xlsx"/>
		<add key="json_result_folder" value="result"/>
		<add key="json_fixed_result_file" value="result\ket_qua.json"/>
	</appSettings>
	<applicationSettings>
		<BIDVAuto.Config>
		</BIDVAuto.Config>
	</applicationSettings>
</configuration>

